.container {
    display: flex;
    width: 940px;
    height: 940px;
    border: 5px solid red;
}

.grid div {
    outline: 1px solid;
    float: left;
}

.colored {
    background-color: blueviolet;
}